<table class="leagueTable">
	<tr>
		<th></th>
		<th></th>
		<th>Players</th>
		<th>vs</th>
		<% league.players.each_with_index do |player, index| %>
		<th><%= link_to (index+1).to_s26.capitalize, '#', :title => player.full_name %></th>
		<% end %>
		<th>TOTAL</th>
		
	</tr>
	<% league.players.each_with_index do |player, index| %>
	  <tr class="playerIndex">
		  <td class="contact"><%= player.mobile %></td>
		  <td></td>
		  <td class="player"><%= link_to (player.full_name), player_path(player.id), :class => 'playerIndex' %></td>
			<td class="nonLeague"><%= link_to (index+1).to_s26.capitalize, player_path(player.id), :title => player.full_name %></td>
	  		<% league.players.each_with_index do |vsPlayer, i| %>
	  		<% if i == index %><td class="nonLeague"> &nbsp </td>
			<% else %><td class="league resultScore"><%= score_for_player(player, vsPlayer, league) %></td><% end %>
	  		<% end %>
			<td class="nonLeague totalScore"><%= total_score(player, league) %></td>
	  </tr>
	<% end %>
</table>