<p class="fields">
	<% if @player_count == @league.players.count %>
		<%= f.label :full_name, "New Player " %><br />
		<%=f.text_field :full_name, data: {autocomplete_source: playerlist_path} %>
	<% elsif @league.players.count > 0 %>
		<%= f.label :full_name, "Player " + (@player_count+1).to_s26.capitalize %><br />
		<%=f.text_field :full_name, data: {autocomplete_source: playerlist_path}, :readonly => true %>
	<% end %>
	
	<%= f.hidden_field :_destroy %>
	<%= link_to_remove_fields "remove", f %>
	<% @player_count = @player_count+1 %>
</p>