<h1>Enter a new Court</h1>
<%= form_for :court, url: courts_path, html: {class: "booking"} do |f| %>
  <p>
    <%= f.label :court_name %><br>
    <%= f.text_field :court_name %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Courts', courts_path %>