<h1><%= @type.membership_type.humanize.titleize %></h1>

<div id="center" class="players">
	<h3>Court Cost</h3>
<%= number_to_currency(@type.court_cost, :unit => "£") %>
	<h3>Membership Cost</h3>
	
<%= number_to_currency(@type.membership_cost, :unit => "£") %>
<% if is_super_admin %>
<h3> <%= link_to 'Edit', edit_membership_type_path(@type) %> </h3>
<% end %>

<p><%= link_to 'Back to Memberships', membership_types_path %></p>
</div>