	<% @booked = false %>	    
	<% if bookings %>
		<% bookings.each do |booking| %>
			<% if booking.time_slot_id == timeSlot.id %>
				<% @booked = true %>
				<%if booking.player %>
					<div class="booked">
						<% @class = membership_type(booking) %>
						<% if @class == "trial" %>
						<%= link_to booking.player.first_name.capitalize + ' ' + booking.player.last_name.capitalize, booking_path(booking) %><br /><% if booking.vs_player_id %><%= link_to ' vs ' + @vs_player.first_name.humanize + ' ' +  @vs_player.last_name.humanize, booking_path(booking) %><% else %>&nbsp<% end %>
						<% else %>
						<% @class %>
						<%= link_to booking.player.first_name.capitalize[0,1] + ' ' + booking.player.last_name.capitalize, booking_path(booking) %><br /><% if booking.vs_player_id %><%= link_to ' vs ' + @vs_players[booking.vs_player_id - 1].first_name.capitalize[0,1] + ' ' +  @vs_players[booking.vs_player_id - 1].last_name.capitalize, booking_path(booking) %><% else %>&nbsp<% end %>
						<% end %>
					</div>
					<% if is_admin %>
					<div class="paid">
						<%= link_to paid_link_text(booking), toggle_paid_booking_path(booking), :remote => true, :id => "paid_link_#{booking.id}", :class => paid_link_class(booking), :title => membership_type_and_price(booking) %>    
					</div>
					<% end %>
				<% else %>
					<%= link_to booking.id, booking_path(booking) %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>

	<% if !@booked && @day >=0 %>
		<div class='time'><%= timeSlot.time.strftime("%H:%M")%></div>
		<% if @isBookingTime %>
			<% if current_player %>
				<div class="book">
					<%= link_to 'book court'.html_safe, new_booking_path(:court => court_id, :timeSlot => timeSlot.id, :hour => timeSlot.time.strftime("%H"), :min => timeSlot.time.strftime("%M"), :days => @day), :class => 'booking_link' %>
				</div>
			<% else %>
			<div class="book">
				<%= link_to 'book court'.html_safe, new_booking_path(:court => court_id, :timeSlot => timeSlot.id, :hour => timeSlot.time.strftime("%H"), :min => timeSlot.time.strftime("%M"), :days => @day), :class => 'booking_link' %>
			</div>
			<% end %>
		<% end %>
	<% elsif @day < 0 %>
		<% if !@booked %>
			<div class='noTimeOrBooking'><%= timeSlot.time.strftime("%H:%M")%></div>
			<% else %>
				<div class='noTime'><%= timeSlot.time.strftime("%H:%M")%></div>
			<% end %>
	<% else %>
		<div class='noTime'><%= timeSlot.time.strftime("%H:%M")%></div>
	<% end %>