<td>
	<% @booked = false %>	    
	<% if bookings %>
		<% bookings.each do |booking| %>
			<% if booking.time_slot_id == timeSlot.id %>
				<% @booked = true %>
				<%if booking.player %>
					<div class="booked">
						<%= link_to 'Booked', booking_path(booking) %><br /><%= link_to booking.player.last_name.capitalize, player_path(booking.player) %>
					</div>
					<% if is_admin %>
					<div class="paid">
						<%= link_to paid_link_text(booking), toggle_paid_booking_path(booking), :remote => true, :id => "paid_link_#{booking.id}", :class => paid_link_class(booking) %>    
					</div>
					<% end %>
				<% else %>
					<%= link_to booking.id, booking_path(booking) %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>

	<% if !@booked && @day >=0 %>
		<div class='time'><%= timeSlot.time.strftime("%H:%M")%></div>
		<% if @isBookingTime %>
			<% if current_player %>
				<div class="book">
					<%= link_to 'Book<br />Court'.html_safe, new_booking_path(:court => court_id, :timeSlot => timeSlot.id, :hour => timeSlot.time.strftime("%H"), :min => timeSlot.time.strftime("%M"), :days => @day), :class => 'book' %>
				</div>
			<% else %>
				<%= link_to 'Login to Book', log_in_path, :class => 'login_to_book' %>
			<% end %>
		<% end %>
	<% elsif @day < 0 %>
		<div class='noTimeOrBooking'><%= timeSlot.time.strftime("%H:%M")%></div>
	<% else %>
		<div class='noTime'><%= timeSlot.time.strftime("%H:%M")%></div>
	<% end %>
</td> 