<h1>Edit Booking</h1>
<%= form_for :booking, url: booking_path(@booking.id), method: :patch do |f| %>
	<% if @booking.errors.any? %>
	  <div id="errorExplanation">
		<h2><%= pluralize(@booking.errors.count, "error") %> prohibited
		  this booking from being saved:</h2>
		<ul>
		<% @booking.errors.full_messages.each do |msg| %>
		  <li><%= msg %></li>
		<% end %>
		</ul>
	  </div>
	<% end %>
  
	<p>
		<%= f.collection_select :court_id, @courts.all, :id, :courtName %> 
		<%= f.collection_select :player_id, @players.all, :id, :lastName, :include_blank => "Please select" %>
	</p>
	<p>
		<%= f.time_select :startTime, :minute_step => 5 %>
	</p>
  <p>
  Court Time: <%= number_field_tag :courtTime, 40, in: 40...400, step: 40 %>
  </p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
<%= link_to 'All Bookings', bookings_path %>