<h1>Edit Booking</h1>

<% if @allowEdit %>
	<%= form_for :booking, url: booking_path(@booking.id), method: :patch do |f| %>
		<% if @booking.errors.any? %>
		  <div id="errorExplanation">
			<h2><%= pluralize(@booking.errors.count, "error") %> prohibited
			  this booking from being saved:</h2>
			<ul>
			<% @booking.errors.full_messages.each do |msg| %>
			  <li><%= msg %></li>
			<% end %>
			</ul>
		  </div>
		<% end %>
  
		<p>
			<!--<%= f.collection_select :court_id, @courts.all, :id, :court_name %> -->
			<%= f.label 'Player: ' %><%=f.text_field :last_name, data: {autocomplete_source: playerlist_path}, value: @player.last_name %>
			<br />
			<% if @vs_player %>
			<%= f.label 'Optional Vs Player: ' %><%=f.text_field :vs_player_name, data: {autocomplete_source: playerlist_path}, value: @vs_player.last_name %>
			<% else %>
			<%= f.label 'Optional Vs Player: ' %><%=f.text_field :vs_player_name, data: {autocomplete_source: playerlist_path} %>
			<% end %>
		</p>
		<!--
		<p>
			<%= f.time_select :start_time, :minute_step => 5 %>
		</p>
	  <p>
	  Court Time: <%= number_field_tag :courtTime, 40, in: 40...400, step: 40 %>
	  </p>
	  -->
		<p>
			<%= f.submit %>
		</p>
	<% end %>
<% else %>
	<p class="paragraph">Please contact the club to make a change to this booking.</p>
<% end %>
