<% if @holiday %><h3 class="holiday"><%= @holiday %></h3><% end %>
<div id="select_date"></div>
<div id="select_admin_date"></div>
<%= link_to "◄", {:day => (@day - 1)}, :id => 'change_day_left' %>

<%if @slots == 0 %>
<div>
<h2>Sorry, we're closed for bookings today. <br />Please contact the Club for opening times.</h2>
</div>
<% else %>
<div class="overflowTable">
<table class="booking">
<% if !@isBookingTime %>
	<tr class="first"><td colspan="20" class="nobookings">Court booking is not available until the Club opens for the day</td></tr>
<% end %>
<tr>
	<% @courts.each do |court| %>
	<th colspan="1" class="booking"> Court <%= court.id %></th>
	<% end %>
</tr>

<% (0..@slots - 1).each do |i| %>
<tr>
	<td class="booking"><%= render "timeSlots" , :timeSlot => @court5Slots[i], :bookings => @daysBookings, :day => @day, :court_id => 5 %></td>
	<td class="booking"><%= render "timeSlots" , :timeSlot => @court4Slots[i], :bookings => @daysBookings, :day => @day, :court_id => 4 %></td>
	<td class="booking"><%= render "timeSlots" , :timeSlot => @court3Slots[i], :bookings => @daysBookings, :day => @day, :court_id => 3 %></td>
	<td class="booking"><%= render "timeSlots" , :timeSlot => @court2Slots[i], :bookings => @daysBookings, :day => @day, :court_id => 2 %></td>
	<td class="booking"><%= render "timeSlots" , :timeSlot => @court1Slots[i], :bookings => @daysBookings, :day => @day, :court_id => 1 %></td>
</tr>
 <% end %> 
</table>
</div>
<% end %>
<%if @day < 21 %><%= link_to "►", {:day => (@day + 1)}, :id => 'change_day_right' %><% end %>

<div id="clearfix"></div>

<div class="date">
	<% if @day != 0 %><%= link_to "Today", { :day => 0 }, :id => 'change_day', :class => 'today' %><% end %>
	<span class="datePicker">
	<%= link_to "◄", {:day => (@day - 1)}, :id => 'change_day', :class => 'arrow'%>
	<% if is_admin %>
		<!-- <a href="#" onclick="show('select_admin_date(#{@day})'); return false;" class="day"><%= @bookingDay %></a> -->
		<a href="#" onclick="show('select_admin_date'); return false;" class="day"><%= @bookingDay %></a>
	<% else %>
		<a href="#" onclick="show('select_date'); return false;" class="day"><%= @bookingDay %></a>
	<% end %>
	<% if is_admin %>
		<%= link_to "►", {:day => (@day + 1)}, :id => 'change_day', :class => 'arrow' %>
		</span>
	<% else %>
		<%if @day < 21 %><%= link_to "►", {:day => (@day + 1)}, :id => 'change_day', :class => 'arrow' %>
		</span>
		<% else %> </span><%= link_to "No more courts", '', :class => 'no_day', :id => 'change_day' %><% end %>
	<% end %>
	
	<% if @day < 21 %><%= link_to "+3 Weeks", { :day => 21 }, :class => 'last_day', :id => 'change_day' %><% end %>
</div>

<div id="clearfix"></div>

<p id="center" class="warning">The male showers are being refurbished from Mon 17th Oct. We apologise for any disruption during this time.</p>

<%= javascript_tag do %>
  window.day = '<%= @day %>';
<% end %>

<script src="http://js.pusher.com/2.2/pusher.min.js"></script>
 <script type="text/javascript">
 // If your Heroku application is within the EU region,
 // uncomment the followling lines
  //Pusher.host = 'ws-eu.pusher.com';
  //Pusher.sockjs_host = 'sockjs-eu.pusher.com';

 var pusher = new Pusher('<%= Pusher.key %>'); // uses your APP KEY
 var channel = pusher.subscribe('tynemouthChannel');
 
 channel.bind('booking', function(data) {
	 // window.alert(data.reloadDay + ':' + day)
	 if (day == data.reloadDay) {
		// window.alert('reloading')
	 	location.reload(true)
	 } else {
	 	// window.alert('not reloading')
	 }
 });
 </script>
 