<h3><%= @holiday %></h3>
<div id="select_date"></div>
<div id="select_admin_date"></div>
<%= link_to "❮", {:day => (@day - 1)}, :id => 'change_day_left' %>
<table class="booking">
<% if !@isBookingTime %>
	<tr class="first"><td colspan="20" class="nobookings">Court booking is not available until the Club opens for the day</td></tr>
<% end %>
<tr>
	<% @courts.each do |court| %>
	<th colspan="1" class="booking"> Court <%= court.id %></th>
	<% end %>
</tr>

<% (0..@slots - 1).each do |i| %>
<tr>
	<td class="booking"><%= render "timeSlots" , :timeSlot => @court5Slots[i], :bookings => @daysBookings, :day => @day, :court_id => 5 %></td>
	<td class="booking"><%= render "timeSlots" , :timeSlot => @court4Slots[i], :bookings => @daysBookings, :day => @day, :court_id => 4 %></td>
	<td class="booking"><%= render "timeSlots" , :timeSlot => @court3Slots[i], :bookings => @daysBookings, :day => @day, :court_id => 3 %></td>
	<td class="booking"><%= render "timeSlots" , :timeSlot => @court2Slots[i], :bookings => @daysBookings, :day => @day, :court_id => 2 %></td>
	<td class="booking"><%= render "timeSlots" , :timeSlot => @court1Slots[i], :bookings => @daysBookings, :day => @day, :court_id => 1 %></td>
</tr>
 <% end %> 
</table>

<%if @day < 21 %><%= link_to "❯", {:day => (@day + 1)}, :id => 'change_day_right' %><% end %>

<div id="clearfix"></div>

<div class="date">
	<% if @day != 0 %><%= link_to "Today", { :day => 0 }, :id => 'change_day', :class => 'today' %><% end %>
	
	<%= link_to "❮", {:day => (@day - 1)}, :id => 'change_day' %>
	<% if is_admin %>
		<a href="#" onclick="show('select_admin_date'); return false;" class="day"><%= @bookingDay %></a>
	<% else %>
		<a href="#" onclick="show('select_date'); return false;" class="day"><%= @bookingDay %></a>
	<% end %>
	<% if is_admin %>
		<%= link_to "❯", {:day => (@day + 1)}, :id => 'change_day' %>
	<% else %>
		<%if @day < 21 %><%= link_to "❯", {:day => (@day + 1)}, :id => 'change_day' %><% else %> <%= link_to "No more courts", '', :class => 'last_day' %><% end %>
	<% end %>
	
	<% if @day <= 21 %><%= link_to "+3 Weeks", { :day => 21 }, :class => 'last_day', :id => 'change_day'%><% end %>
</div>

<div id="clearfix"></div>

<script src="http://js.pusher.com/2.0/pusher.min.js"></script>
 <script type="text/javascript">
 // If your Heroku application is within the EU region,
 // uncomment the followling lines
  //Pusher.host = 'ws-eu.pusher.com';
  //Pusher.sockjs_host = 'sockjs-eu.pusher.com';

 var pusher = new Pusher('<%= Pusher.key %>'); // uses your APP KEY
 var channel = pusher.subscribe('test_channel');
 channel.bind('greet', function(data) {
   location.reload(true)
 });
 
 var e = jQuery.Event("keydown");
 e.which = 27; // # Some key code value
 $("input").trigger(e);
 
 $(document).keyup(function(e) {
   if (e.keyCode == 27) { console.log('esc'); }   // esc
 });
 
 </script>
 