<h1>Tynemouth Squash Court Bookings</h1>

<div id="clearfix"></div>
<div class="links"> 
	<%= link_to "Prev", :day => (@day - 1) %> 
	<%if @day < 21 %><%= link_to "Next", :day => (@day + 1) %><% else %> <%= link_to "No more courts", '' %><% end %>
	<% if @day != 0 %><%= link_to "Today", { :day => 0 } %><% end %>
</div>

<div class="date">
	<%= @bookingDay %>
</div>

<table>
<% if !@isBookingTime %>
	<tr class="first"><td colspan="20">Court booking is not available until the Club opens for the day</td></tr>
<% end %>
<tr>
	<% @courts.each do |court| %>
	<th colspan="1"> Court <%= court.id %></th>
	<% end %>
</tr>

<% (1..@slots - 1).each do |i| %>
<tr>
	<td><%= render "timeSlots" , :timeSlot => @court5Slots[i], :bookings => @daysBookings, :day => @day, :court_id => 4 %></td>
	<td><%= render "timeSlots" , :timeSlot => @court4Slots[i], :bookings => @daysBookings, :day => @day, :court_id => 3 %></td>
	<td><%= render "timeSlots" , :timeSlot => @court3Slots[i], :bookings => @daysBookings, :day => @day, :court_id => 2 %></td>
	<td><%= render "timeSlots" , :timeSlot => @court2Slots[i], :bookings => @daysBookings, :day => @day, :court_id => 1 %></td>
	<td><%= render "timeSlots" , :timeSlot => @court1Slots[i], :bookings => @daysBookings, :day => @day, :court_id => 0 %></td>
</tr>
 <% end %> 
</table>