<h1>Book <%= @court.court_name %> for <%=  @time.strftime("%H:%M") %> on <%= @time.strftime("%A") %> </h1>
<%= form_for :booking, url: bookings_path do |f| %>
  <p>
  <%= f.hidden_field :court_id, :value => params[:court] %>
    <!-- <%= f.collection_select :court_id, @courts.all, :id, :court_name, :selected => params[:court] %> -->
  </p>
  <% if current_player %>
  <%= f.hidden_field :player_id, :value => current_player.id %>
  <% else %>
   <p>
   <%= f.collection_select :player_id, @players.all, :id, :last_name %>
  </p>
  <% end %>
  <p>
	  <%= f.hidden_field :start_time, :value => @time %>
	  <%= f.hidden_field :days, :value => @days %>
	  <%= f.hidden_field :timeSlot_id, :value => params[:timeSlot] %>
	  <%= f.hidden_field :courtTime, :value => 40 %>
	   <!--Court Time: <%= number_field_tag :courtTime, 40, in: 40...400, step: 40 %>-->
  </p>
  <%= %>
    <p>
    <%= f.submit 'Book Court' %>
  </p>
<% end %>