<h1><%= @court.courtName %></h1>

<% if @player %>
<p><%= @player.firstName %></p>
<% else %>
<p>Book Court</p>
<% end %>

<%= @booking.startTime %> <br />
<%= @booking.courtTime %> <br />
<%= @booking.timeSlot.id %>

<%= form_for :booking, url: bookings_path do |f| %>
<%= link_to 'Edit', edit_booking_path(@booking) %> | <%= link_to 'Destroy', booking_path(@booking),
                    method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>