<h1><%= @court.court_name %></h1>
<% if @player %>
	<h2><%= link_to @player.first_name.humanize + " " + @player.last_name.humanize, @player %> | <%= @timeSlot.time.strftime("%l:%M%P") + @booking.start_time.strftime(" on %A %dth %B") %>
		<% if @vs_player %>
			<br />Against <%= link_to @vs_player.first_name.humanize + " " + @vs_player.last_name.humanize, @vs_player%>
		<% end %>
	</h2>
	<% if @booking.paid %><h4>Court Paid</h4><% end %>
	<h4><%=membership_type_and_price(@booking)%></h4>
<% else %>
	<p>Book Court</p>
<% end %>


<%= form_tag processform_path(@booking), :class => "booking" do %>
	<%= hidden_field_tag :id, @booking.id %>
	<% if is_admin %>
		<% if !@booking.cancelled %>
			<%= link_to 'Cancel Booking', booking_path(@booking), method: :delete, data: { confirm: 'Are you sure?' } %>
		<% else %>
			<br /><%= link_to 'Remove Booking', booking_path(@booking), method: :delete, data: { confirm: 'Are you sure?' }, class: 'red' %>
			<br /><span class='hint'>(court cancelled less than 48 Hours)</span>
			
		<% end %>
		<% if @timeLeft %>
			<p><%= time_ago_in_words(@timeLeft.from_now).humanize %> to cancel court</p>
			<p><i>(after this the member should be subject to full court fees)</i></p>
		<% elsif !@booking.cancelled %>
			<p>There is less than 48 hours till this booking, cancelling should incure a fine</p>
		<% end %>
		
		<p><%= submit_tag "Change Players" %></p>
	<% else %>
		<%= label_tag 'Membership Number:' %><%= text_field_tag :membership_number %>
		<p><%= submit_tag "Change Opponent" %></p>
	
		<% if @cancellable %>

			<p><%= submit_tag "Cancel Booking" %></p>
			<% if @timeLeft %>
				<p><%= time_ago_in_words(@timeLeft.from_now).humanize %> to cancel court</p>
				<p><i>(after this you could be subject to full court fees)</i></p>
			<% else %>
				<p>There is less than 48 hours till this booking, cancelling should incure a fine</p>
			<% end %>
		<% else %>
			Please contact the club to change or cancel this booking on 0191 257 3895. <br /><i>Bookings cancelled within 48 hours will be subject to full court fee.</i>
		<% end %>
	<% end %>

<% end %>

<h3 class='back'><%= link_to 'Back to Calendar', bookings_path(:day => @days) %></h3>