<h1><%= @court.court_name %></h1>
<% if @player %>
	<h2><%= link_to @player.first_name.humanize + " " + @player.last_name.humanize, @player %> | <%= @booking.start_time.strftime("%l:%M%P on %A %dth %B") %>
		<% if @vs_player %>
			<br />Against <%= @vs_player.first_name.humanize %> <%= @vs_player.last_name.humanize %>
		<% end %>
	</h2>
	<% if @booking.paid %><h4>Court Paid</h4><% end %>
<% else %>
	<p>Book Court</p>
<% end %>

<%= form_for :booking, url: booking_path(@booking.id), method: :delete do |f| %>
	<%if is_admin %>
		<%= link_to 'Change Player(s)', edit_booking_path(@booking) %> <br />
	<% end %>
	<% if is_admin %>
		<% if !@booking.cancelled %>
			<%= link_to 'Cancel Booking', booking_path(@booking), method: :delete, data: { confirm: 'Are you sure?' } %>
		<% else %>
			<br /><span class='hint'>(court cancelled less than 48 Hours)</span>
		<% end %>
		<% if @timeLeft %>
			<p><%= time_ago_in_words(@timeLeft.from_now).humanize %> to cancel court</p>
			<p><i>(after this the member should be subject to full court fees)</i></p>
		<% elsif !@booking.cancelled %>
			<p>There is less than 48 hours till this booking, cancelling should incure a fine</p>
		<% end %>
	<% elsif @cancellable %>
	
		<%= f.label 'Membership Number:' %><%= f.text_field :membership_number, :value => '' %>
		
		<p><%= f.submit :value => "Cancel Booking" %>
						</p>
		<% if @timeLeft %>
			<p><%= time_ago_in_words(@timeLeft.from_now).humanize %> to cancel court</p>
			<p><i>(after this you could be subject to full court fees)</i></p>
		<% else %>
			<p>There is less than 48 hours till this booking, cancelling should incure a fine</p>
		<% end %>
	<% else %>
		Please contact the club to change or cancel this booking on 0191 257 3895. <br /><i>Bookings cancelled within 48 hours will be subject to full court fee.</i>
	<% end %>

<% end %>