<h1><%= @court.court_name %></h1>

<h2>Bookings</h2>
<% @court.bookings.each do |booking| %>
  <p>
		<strong>Booking <%= booking.id %> - <%= booking.start_time.strftime("%H:%M") %> <%= booking.courtTime %> <% if booking.player %> - <%= booking.player.last_name %><% end %></strong>
  </p>
<% end %>
  
<% @court.timeSlots.each do |timeSlot| %>
	<p>
	<strong>Time Slot:</strong>
	<%= timeSlot.time.strftime("%H:%M") %>
	</p>
<% end %>