<table class="playerTable">
  <tr>
	<%if is_admin %>
		<th>Membership Number</th>
		<th>Membership Type</th>
	<% end %>
    <th>Player</th>
	<% if current_player %>
	    <th>Landline</th>
		<th>Mobile</th>
	<% end %>
	<%if is_admin %>
	    <th>Future Bookings</th>
	<% end %>
  </tr>
  <% @players.each do |player| %>
    <tr class = "playerIndex" >
		<%if is_admin %>
			<td class="first player"><%= player.membership_number %></td>
			<td class = "player"><%= player.membership_type.membership_type %></td>
		<% end %>
		<td class = "player"><%= link_to (player.full_name), player_path(player.id), :class => 'playerIndex' %></td>
		<% if current_player %>
			<td class = "player"><%= player.landline %></td>
			<td class = "player"><%= player.mobile %></td>
		<% end %>
		<%if is_admin %>
			<td class = "player"><%= player.future_bookings.count %></td>
		<% end %>
    </tr>
  <% end %>
</table>