<h1>Players Listing</h1>
 
<% if is_super_admin %>
	<h2 class="newPlayer"><%= link_to 'New Player', new_player_path %></h2>
<% elsif is_admin %>
	<h2 class="newPlayer"><%= link_to 'New Guest', new_player_path %></h2>
<% end %>

<%= form_tag players_path, :method => 'get', :id => "player_search_form" do %>
  <p>
	  <%= text_field_tag 'player_search', nil, :class => 'search-query ui-autocomplete-input', :placeholder => 'Player Search', data: {autocomplete_source: playerlist_path} %>
	  <!-- <%= text_field_tag :search, nil, data: {autocomplete_source: playerlist_path} %> -->
	  <%= submit_tag "Search", :name => nil, :class => 'hidden' %> <%= button_tag "All Players", type: :reset, :id => 'clear', :class => 'clear'%>
  </p>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
<% end %>

<div id="players"><%= render 'players' %></div>  