<h1>Players Listing</h1>
 
<% if is_super_admin %>
	<h2 class="newPlayer"><%= link_to 'New Player', new_player_path %></h2>
<% elsif is_admin %>
	<h2 class="newPlayer"><%= link_to 'New Guest', new_player_path %></h2>
<% end %>

<table class="playerTable">
  <tr>
	<%if is_admin %>
		<th>Membership Number</th>
		<th>Membership Type</th>
	<% end %>
    <th>Player</th>
    <th>Landline</th>
	<th>Mobile</th>
	<%if is_admin %>
	    <th>Future Bookings</th>
	<% end %>
  </tr>
  <% @players.each do |player| %>
    <tr class = "playerIndex" >
		<%if is_admin %>
			<td class="first"><%= player.membership_number %></td>
			<td><%= player.membership_type.membership_type %></td>
		<% end %>
		<td><%= link_to (player.first_name + ' ' + player.last_name), player_path(player.id), :class => 'playerIndex' %></td>
		<td><%= player.landline %></td>
		<td><%= player.mobile %></td>
		<%if is_admin %>
			<td><%= player.future_bookings.count %></td>
		<% end %>
    </tr>
  <% end %>
</table>