<div id="center" class="players">
<h1> <%= @player.first_name.capitalize %> <%= @player.last_name.capitalize %></h1><h2><% if @player.admin %>Admin<% end %></h2>
<h3><%= @membership_type %> member</h3>

<% if is_super_admin %><h3> <%= link_to 'Edit', edit_player_path(@player) %> </h3><% end %>

<p>
  Landline: <%= @player.landline %> <br />
Mobile: <%= @player.mobile %> <br />
</p>

<h3><%= @player.bookings.count %> Bookings</h2>
<% @player.bookings.each do |booking| %>
  <p>
    <%= link_to booking.start_time.strftime("%l:%M%P on %A #{booking.start_time.day.ordinalize} %B "), booking_path(booking) %> | <%= booking.court.court_name %><% if booking.vs_player_id %> | Against <%= @vs_players[booking.vs_player_id - 1].first_name.capitalize %> <%= @vs_players[booking.vs_player_id - 1].last_name.capitalize %><% end %></strong>
  </p>
<% end %>

<h3><%= @vs_bookings.count %> Vs Bookings</h2>
<% @vs_bookings.each do |booking| %>
  <p>
    <%= link_to booking.start_time.strftime("%l:%M%P on %A #{booking.start_time.day.ordinalize} %B "), booking_path(booking) %> | <%= booking.court.court_name %><% if booking.vs_player_id %> | Against <%= booking.player.first_name.humanize %> <%= booking.player.last_name.humanize %><% end %></strong>
  </p>
<% end %>
</div>