<h1> <%= @player.firstName %> <%= @player.lastName %> </h1>
<h3> <%= link_to 'Edit', edit_player_path(@player) %> </h3>
<p>
  Tel: <%= @player.tel %>
  <%= @player.membershipNumber %>
</p>

<h2>Bookings</h2>
<% @player.bookings.each do |booking| %>
  <p>
    <strong>Booking <%= booking.id %> | <%= booking.court.courtName %> | <%= booking.startTime %></strong>
  </p>
<% end %>