<div id="center" class="players">
<h1> <%= @player.first_name.capitalize %> <%= @player.last_name.capitalize %></h1><h2><% if @player.admin %>Admin<% end %></h2>
<h3><%= @membership_type %> member</h3>
<% if @membership_type == "trial" %>
<h4><%= @player.trialExpires %></h4>
<% end %>

<% if is_super_admin %><h3> <%= link_to 'Edit', edit_player_path(@player) %> </h3><% end %>

<% if current_player %>
<p>
<% if !@player.landline.blank? %>Landline: <%= @player.landline %> <br /><% end %>
<% if !@player.mobile.blank? %>Mobile: <%= @player.mobile %> <br /><% end %>
<% if !@player.email.blank? %>Email: <%= @player.email %> <br /><% end %>
</p>
<% end %>

<h3><%= @player.future_bookings.count %> Bookings</h2>
<% @player.future_bookings.each do |booking| %>
	<% if booking.paid == false %>
		<%= link_to booking.time_slot.time.strftime("%l:%M%P") + booking.start_time.strftime(" on %A #{booking.start_time.day.ordinalize} %B "), booking_path(booking) %> | <%= link_to booking.court.court_name, bookings_path(:day => booking.day) %><% if booking.vs_player_id %> | Against <%= booking.vs_player.first_name.capitalize %> <%= booking.vs_player.last_name.capitalize %><% end %> <span class='red bold'>(unpaid)</span></strong>
	<% else %>
	    <%= link_to booking.time_slot.time.strftime("%l:%M%P") + booking.start_time.strftime(" on %A #{booking.start_time.day.ordinalize} %B "), booking_path(booking) %> | <%= link_to booking.court.court_name, bookings_path(:day => booking.day) %><% if booking.vs_player_id %> | Against <%= booking.vs_player.first_name.capitalize %> <%= booking.vs_player.last_name.capitalize %><% end %></strong>
	<% end %>
	<br />
<% end %>

<h3><%= @vs_bookings.count %> Vs Bookings</h2>
<% @vs_bookings.each do |booking| %>
  <p>
    <%= link_to booking.start_time.strftime("%l:%M%P on %A #{booking.start_time.day.ordinalize} %B "), booking_path(booking) %> | <%= booking.court.court_name %><% if booking.vs_player_id %> | Against <%= booking.player.first_name.humanize %> <%= booking.player.last_name.humanize %><% end %></strong>
  </p>
<% end %>
</div>