<ul><li><%= link_to 'Bookings', bookings_path %> |</li>
<li><%= link_to 'Players', players_path %></li>
</ul>

<div id="user_nav">
  <% if current_player %>
    <%= link_to "Log out", log_out_path %><br />
    Logged in as <%= current_player.last_name %>
  <% else %>
    <%= link_to "Log in", log_in_path %>
  <% end %>
</div>