<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
  <title>Tynemouth Squash Booking</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/touch-icon-ipad.png" />
  
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<%= render "layouts/header" %>
<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash#{name}" %>
  <% end %>
<%= yield %>

</body>
</html>
